In [4]:
import pandas as pd

In [11]:
frame_df = pd.DataFrame({
    "Frame" :["Ornate", "Classical", "Modern", "Wood", "Cardboard"], 
    "Price" :[15.00, 12.50, 10.00, 5.00, 1.00],
    "Sales" :[100, 200, 150, 300, "N/A"]
})
frame_df

       Frame  Price Sales
0     Ornate   15.0   100
1  Classical   12.5   200
2     Modern   10.0   150
3       Wood    5.0   300
4  Cardboard    1.0   N/A