In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# We can create a Pandas Series from a raw list 
data_series = pd.Series(["UCLA", "UC Berkeley", "UC Irvine", "University of Central Florida", "Rutgers University"])
data_series

0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3    University of Central Florida
4               Rutgers University
dtype: object

In [7]:
# Convert a list of dictionarys into a dataframe
states_dicts = [{"STATE": "New Jersey", "ABBREVIATION": "NJ"},
                {"STATE": "New York", "ABBREVIATION": "NY"}]
df_states = pd.DataFrame(states_dicts)
df_states

  ABBREVIATION       STATE
0           NJ  New Jersey
1           NY    New York

In [17]:
# Convert a single dictionary containing lists into a dataframe
df = pd.DataFrame(
    {"Dynasty": ["Early Dynastic Period","Old Kingdom", "Roman Empire"], 
     "Pharoh": ["Thinis", "Memphis", ""]
    }
)
df

                 Dynasty   Pharoh
0  Early Dynastic Period   Thinis
1            Old Kingdom  Memphis
2           Roman Empire